<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>PruebaSefv</servlet-name>
        <servlet-class>Controlador.PruebaSefv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SquemaController</servlet-name>
        <servlet-class>Controlador.SquemaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TablaController</servlet-name>
        <servlet-class>Controlador.TablaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ColumnaController</servlet-name>
        <servlet-class>Controlador.ColumnaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PruebaSefv</servlet-name>
        <url-pattern>/PruebaSefv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SquemaController</servlet-name>
        <url-pattern>/SquemaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TablaController</servlet-name>
        <url-pattern>/TablaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ColumnaController</servlet-name>
        <url-pattern>/ColumnaController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
